<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="../../css/forms.css">
    <link rel="stylesheet" href="../../css/reports.css">
</head>
<body>
    <h1 class="title">Compras Periodicas</h1>
    <form>
        <label for="fechaEmpiezo">
            Fecha de Comienzo:
            <input type="date" name="fechaEmpiezo" id="fechaEmpiezo">
        </label>
        <label for="fechaFinal">
            Fecha final:
            <input type="date" name="fechaFinal" id="fechaFinal">
        </label>
        <div class="break"></div>
        <button type="button" onclick="generateReport()">Abrir</button>
        <button type="button" onclick="downloadReport()">Exportar</button>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
<script src="../../js/reportes/comprasPeriodicas.js"></script>
</html>