<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <h1>Nuevo Usuario</h1>
    <form action="http://localhost:5000/usuario?url=/dashboard" method="post">
        <label for="nUsuario">
            Usuario:
            <input type="text" id="nUsuario" name="nUsuario" required autofocus="autofocus">
        </label>
        <label for="nombre">
            Nombre:
            <input type="text" id="nombre" name="nombre" required>
        </label>
        <label for="apellido">
            Apellido:
            <input type="text" id="apellido" name="apellido" required>
        </label>
        <label for="pass">
            Contraseña:
            <input type="text" id="pass" name="pass" required>
        </label>
        <label for="cargo">
            Cargo:
            <select name="cargo" id="cargo" required>
                <option value="administrador">Administrador</option>
                <option value="empleado">Empleado</option>
            </select>
        </label>
        <label for="estado">
            Estado:
            <select name="estado" id="estado">
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
            </select>
        </label>
        <label for="direccion">
            Dirección:
            <input type="text" id="direccion" name="direccion">
        </label>
        <label for="celular">
            Celular:
            <input type="text" id="celular" name="celular">
        </label>
        <div class="break"></div>
        <button type="submit">Nueva</button>
        <a href="/dashboard/movimientos/nuevo-usuario">
            <button type="button">Cancelar</button>
        </a>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
</html>