<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <img src="img/logo.svg" alt="Go Market Logo" id="logo"/>
        <div class="container-row">
            <a href="/login"><button><p>Iniciar Sesión</p></button></a>
        </div>
        <p id="version"></p>
        <div id="messages"></div>
    </div>
</body>
<script src="js/checkForUpdates.js"></script>
</html>