<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <h2 class="title">Iniciar Sesión</h2>
    <form id="login-form" action="http://localhost:5000/login" method="POST">
        <label for="nUsuario">
            Usuario
            <input type="text" id="nUsuario" name="nUsuario" autofocus="autofocus" required>
        </label>
        <label for="pass">
            Contraseña:
            <input type="password" id="pass" name="pass" required>
        </label>
        <div class="break"></div>
        <button type="submit" id="submit">Iniciar Sesión</button>
    </form>
</body>
</html>