@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: calc(0.75em + 1vmin);
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#logo {
    width: 20em;
    max-width: 512px;
    height: auto;
}

#version {
    font-size: 0.7em;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container-row {
    display: flex;
    flex-flow: row wrap;
    width: 50vw;
    max-width: 200px;
    align-items: center;
    justify-content: space-around;
    margin:25px;
}