<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="../../css/forms.css">
    <link rel="stylesheet" href="../../css/reports.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.default.min.css">
</head>
<body>
    <h1 class="title">Devolucion de Ventas</h1>
    <form id="devolucion-form">
        <label for="codigo">
            Numero de Factura:
            <select id="codigo" type="text" name="codigo" required></select>
        </label>
        <div id="tableVentas" class="table"></div>
        <div class="break"></div>
        <label for="cantidad" style="visibility: hidden;" id="labelCantidad">
            Cantidad a Devolver:
            <input type="number" name="cantidad" id="cantidad" min="0" value="0" onfocus="this.select();" onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 189" required>
        </label>
        <label for="codigo" style="visibility: hidden;" id="labelCodigo">
            Codigo de Producto:
            <input type="text" name="codigo" id="codigoInput" readonly required>
        </label>
        <label for="ventaNo" style="visibility: hidden;" id="labelVentaNo">
            Venta no:
            <input type="number" name="ventaNo" id="ventaNo" readonly required>
        </label>
        <div class="break"></div>
        <button type="button" id="devolver" style="display: none;">Devolver</button>
        <a href="/dashboard"><button type="button">Regresar</button></a>
    </form>
</body>
<script src="../../js/reportes-en-pantalla/devolucionDeVentas.js"></script>
</html>