<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <h1 class="title">Nueva Ubicación</h1>
    <form action="http://localhost:5000/dashboard/mantenimientos/ubicacion" method="post">
        <label for="ubicacion">
            Ubicación:
            <input type="text" name="ubicacion" id="ubicacion" required autofocus="autofocus">
        </label>
        <div class="break"></div>
        <button type="submit">Nueva</button>
        <a href="/dashboard/mantenimientos/nueva-ubicacion">
            <button type="button">Cancelar</button>
        </a>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
</html>