<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="css/forms.css">
    <link rel="stylesheet" href="css/reports.css">
</head>
<body>
    <h1 class="title">Cierres de Turno</h1>
    <form id="turno-form">
        <h3>Turnos</h3>
        <div class="break"></div>
        <input type="radio" id="hoy" name="turnos" value="hoy">
        <label for="male">Hoy</label><br>
        <input type="radio" id="mes" name="turnos" value="mes" checked="checked">
        <label for="female">Mes</label><br>
        <input type="radio" id="todos" name="turnos" value="todos">
        <label for="other">Todos</label>
        <div class="break"></div>
        <div class="table-report" id="turnos-table">
            <div class="column-report" style="flex-basis:13.5%">
                <div class="row-title-report">Usuario</div>
            </div>
            <div class="column-report" style="flex-basis:20%">
                <div class="row-title-report">Fecha & Hora</div>
            </div>
            <div class="column-report" style="flex-basis:13.5%">
                <div class="row-title-report">Ef. Apertura</div>
            </div>
            <div class="column-report" style="flex-basis:17%">
                <div class="row-title-report">Ef. Cierre</div>
            </div>
            <div class="column-report" style="flex-basis:17%">
                <div class="row-title-report">Sobrante</div>
            </div>
            <div class="column-report" style="flex-basis:17%">
                <div class="row-title-report">Faltante</div>
            </div>
        </div>
        <div class="break"></div>
        <a href="/dashboard"><button type="button">Salir</button></a>
    </form>
</body>
<script src="/js/reportes/cierresDeTurno.js"></script>
</html>