<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="../../css/forms.css">
</head>
<body>
    <h1 class="title">Gastos de Ventas</h1>
    <form action="http://localhost:5000/dashboard/movimientos/gastos-ventas-data" method="post">
        <label for="codigo">
            Codigo:
            <input type="text" name="codigo" id="codigo" required autofocus="autofocus">
        </label>
        <label for="fecha">
            Fecha:
            <input type="date" name="fecha" id="fecha" required>
        </label>
        <label for="descripcion">
            Descripcion:
            <input type="text" name="descripcion" id="descripcion">
        </label>
        <label for="totalQ">
            Total Q:
            <input type="number" name="totalQ" id="total-q" required>
        </label>
        <label for="usuario">
            Usuario:
            <input type="text" name="usuario" id="usuario" required>
        </label>
        <div class="break"></div>
        <button type="submit">Nueva</button>
        <a href="/dashboard/movimientos/gastos-ventas">
            <button type="button">Cancelar</button>
        </a>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
</html>