<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="../../css/forms.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.default.min.css">
</head>
<body>
    <h1 class="title">Editar Proveedor</h1>
    <form action="http://localhost:5000/dashboard/mantenimientos/proveedor?_method=PUT" method="post">
        <label for="codigo">
            Codigo:
            <select id="codigo" type="text" name="codigo" required></select>
        </label>
        <label for="nit">
            Nit:
            <input type="text" name="nit" id="nit" required>
        </label>
        <label for="nombre">
            Nombre:
            <input type="text" name="nombre" id="nombre" required>
        </label>
        <label for="direccion">
            Direccion:
            <input type="text" name="direccion" id="direccion" required>
        </label>
        <label for="celular">
            Celular:
            <input type="text" name="celular" id="celular" required>
        </label>
        <label for="saldo">
            Saldo:
            <input type="number" name="saldo" id="saldo" required step="any">
        </label>
        <label for="marketId">
            Ubicacion de Market:
            <select name="marketId" id="marketId" required></select>
        </label>
        <div class="break"></div>
        <button type="submit">Actualizar</button>
        <button type="button" onclick="borrar()">Borrar</button>
        <a href="/dashboard/mantenimientos/editar-proveedor">
            <button type="button">Cancelar</button>
        </a>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
<script src="../../js/util/loadMarkets.js"></script>
<script src="../../js/editarProveedor.js"></script>
</html>