<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="../../css/forms.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.default.min.css">
</head>
<body>
    <h1 class="title">Nuevo Inventario</h1>
    <form action="http://localhost:5000/dashboard/mantenimientos/inventario" method="post">
        <label for="codigo">
            Codigo:
            <select id="codigo" type="text" name="codigo" required></select>
        </label>
        <label for="descripcion">
            Descripcion:
            <input type="text" name="descripcion" id="descripcion" required>
        </label>
        <label for="existenciaActual">
            Existencia Actual:
            <input type="number" name="existenciaActual" id="existencia-actual" required>
        </label>
        <div class="break"></div>
        <button id="nueva" type="button" onclick="crear()">Nueva</button>
        <a href="/dashboard/mantenimientos/nuevo-inventario">
            <button type="button">Cancelar</button>
        </a>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
<script src="../../js/util/loadProductosInventario.js"></script>
<script src="../../js/posting/nuevoInventario.js"></script>
</html>