<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="../../css/forms.css">
</head>
<body>
    <h1 class="title">Nuevo Inventario</h1>
    <form action="http://localhost:5000/dashboard/mantenimientos/inventario" method="post">
        <label for="codigo">
            Codigo:
            <input list="codigos" type="text" name="codigo" id="codigo" required autofocus="autofocus">
            <datalist id="codigos"></datalist>
        </label>
        <label for="descripcion">
            Descripcion:
            <input type="text" name="descripcion" id="descripcion" required>
        </label>
        <label for="existenciaActual">
            Existencia Actual:
            <input type="number" name="existenciaActual" id="existencia-actual" required>
        </label>
        <div class="break"></div>
        <button type="submit">Crear</button>
        <a href="/dashboard/mantenimientos/nuevo-inventario">
            <button type="button">Cancelar</button>
        </a>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
</html>