<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <h1 class="title">Cierre de Turno</h1>
    <form action="http://localhost:5000/dashboard/movimientos/apertura-turno" method="post">
        <label for="usuario">
            Usuario:
            <input type="text" name="usuario" id="usuario">
        </label>
        <label for="pass">
            Contraseña:
            <input type="text" name="pass" id="pass">
        </label>
        <label for="efectivo">
            Efectivo:
            <input type="number" name="efectivo" id="efectivo">
        </label>
        <div class="break"></div>
        <button type="submit">Nueva</button>
        <a href="/dashboard/movimientos/compras">
            <button type="button">Cancelar</button>
        </a>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
</html>