<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <h1 class="title">Compras</h1>
    <form id="compras-form">
        <label for="proveedor">
            Proveedor:
            <input type="text" list="proveedores" name="proveedor" id="proveedor" required autofocus="autofocus">
            <datalist id="proveedores"></datalist>
        </label>
        <label for="nit">
            Nit:
            <input type="text" name="nit" id="nit" required>
        </label>
        <label for="fechaDeCompra">
            Fecha de Compra:
            <input type="date" name="fechaDeCompra" id="fecha-de-compra" required>
        </label>
        <label for="direccion">
            Direccion:
            <input type="text" name="direccion" id="direccion">
        </label>
        <label for="codigoDeProducto">
            Codigo de Producto:
            <input type="text" list="codigos" name="codigoDeProducto" id="codigo-de-producto" required>
            <datalist id="codigos"></datalist>
        </label>
        <label for="descripcion">
            Descripcion:
            <input type="text" name="descripcion" id="descripcion">
        </label>
        <label for="precioQ">
            Precio Q:
            <input type="number" name="precioQ" id="precio-q" required>
        </label>
        <label for="cantidad">
            Cantidad:
            <input type="number" name="cantidad" id="cantidad" required>
        </label>
        <label for="tipoDePago">
            Tipo de Pago:
            <label for="contado">
                <input type="radio" name="tipoDePago" id="contado" value="contado" checked="checked"/>
                Contado
            </label>
            <label for="credito">
                <input type="radio" name="tipoDePago" id="credito" value="credito"/>
                Credito
            </label>
        </label>
        <button type="button" onclick="agregarProducto()">Agregar Producto</button>
        <div class="table">
            <div class="column">
                <div class="row-title" style="background-color: #224a67;">
                    <h3>Codigo Producto</h3>
                </div>
            </div>
            <div class="column">
                <div class="row-title" style="background-color: #356986;">
                    <h3>Descripción</h3>
                </div>
            </div>
            <div class="column">
                <div class="row-title" style="background-color:#224a67;">
                    <h3>Precio</h3>
                </div>
            </div>
            <div class="column">
                <div class="row-title" style="background-color: #356986;">
                    <h3>Cantidad</h3>
                </div>
            </div>
            <div class="column" id="subtotal">
                <div class="row-title" style="background-color: #224a67;">
                    <h3>Subtotal</h3>
                </div>
            </div>
            <div class="column" id="delete">
                <div class="row-title" style="background-color:#356986;">
                    <h3>Borrar</h3>
                </div>
            </div>
        </div>
        <h3 style="color:#356986;">Total: <span id="total">0.00 </span>Q</h3>
        <div class="break"></div>
        <button type="submit" onclick="pagar()">Pagar</button>
        <button type="button" onclick="cancelCompra()">Cancelar</button>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
<script src="js/controlDeCompras.js"></script>
<script src="js/util/loadProveedores.js"></script>
<script src="js/util/loadProductos.js"></script>
</html>