<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="../../css/forms.css">
    <link rel="stylesheet" href="../../css/reports.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.default.min.css">
</head>
<body>
    <h1 class="title">Inventario Por Categoria</h1>
    <form>
        <label for="ubicacion">
            Ubicación:
            <select id="ubicacion" type="text" name="ubicacion" required></select>
        </label>
        <div class="break"></div>
        <button id="ingresar" type="button" onclick="generateReport()">Ingresar</button>
    </form>
</body>
<script src="../../js/util/loadUbicaciones.js"></script>
<script src="../../js/reportes/inventarioPorCategoria.js"></script>
</html>