<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Market Tracker</title>
    <link rel="stylesheet" href="../../css/forms.css">
</head>
<body>
    <h1 class="title">Nuevo Gasto</h1>
    <form action="http://localhost:5000/dashboard/mantenimientos/gasto" method="post">
        <label for="codigo">
            Codigo:
            <input type="text" name="codigo" id="codigo" autofocus="autofocus">
        </label>
        <label for="tipoDeGasto">
            Tipo de Gasto:
            <input type="text" name="tipoDeGasto" id="tipoDeGasto">
        </label>
        <div class="break"></div>
        <button type="submit">Nueva</button>
        <a href="/dashboard/mantenimientos/nuevo-gasto">
            <button type="button">Cancelar</button>
        </a>
        <a href="/dashboard">
            <button type="button">Salir</button>
        </a>
    </form>
</body>
</html>